/* General CSS */

body {
    padding: 0px;
    margin: 0px;
}

h1, h2 {
    text-align: center;
}

h1, h2, h3 {
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    display: block;
    margin-top: 40px;
}

button, input {
    height: 37px;
    width: 200px;
    border-radius: 50px;
    color: white;
    background-color: black;
}

button:focus, input:focus {
    outline: 0px;
}

button:hover {
    color: black;
    background-color: white;
}

button.first {
    margin-left: 29px;
}

button.last {
    float: right;
    margin-right: 29px;
}

input.signupInput {
    display: block;
    float: right;
    padding-left: 10px;
    padding-bottom: 3px;
}

input {
    border-radius: 0px;
    margin-top: -52px;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
}

.content {
    color: white;
    position:fixed;
    top: 50%;
    left: 50%;
    height: 18em;
    width: 30em;
    margin-top: -9em;
    margin-left: -15em;
}

/* Index */

.overlay {
    height: 100%;
    background-color: grey;
}

/* Signup */
.signupHeader {
    margin-bottom: 50px;
}

.signupContent {
    height: 18em;
    width: 30em;
    margin-top: -13em;
    margin-left: -15em;
}

.submitSignin {
    display: block;
    margin-left: auto;
    margin-right: auto;
}